/* CODING BY Younes MISSIRIA */
@media screen and (max-device-width: 480px){
      body{
            -webkit-text-size-adjust:none;
            font-family:Helvetica, Arial, Verdana, sans-serif;
            padding:5px;
      }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
body {
      background-color:#f9f9f9;
}
#wrapper {
      width: 1024px;
      margin: 0 auto;
      background-color: white;
      padding: 10px;
      border: 7px solid #DDD;
      position:relative;
	  	  font-family: Century Gothic;
}
h1,h2,h3 {
      text-transform:uppercase;
      font-family:arial;
      color:#87AE53;
      text-shadow:1px 1px 1px #000;
}
ul {
      padding:0;
      margin:0;
      list-style:none;
}

/*
        TEEEEEEEEEEEEST PRINT
*/


#wrapper-print {
      width: 1094px;
      margin: 0 auto;
      background-color: white;
      padding: 10px;

      position:relative;
}

.print_date {width:120px;}
.print_client {width:120px;}
.print_qt_produit {width:120px;}
.print_qt_liv {width:120px;}
.print_vehicule {width:120px;}
.print_time_depart {width:120px;}
.print_qt_reste {width:120px;}



/*
        TEEEEEEEEEEEEST PRINT
*/

.hide {display:none;}
.right {float:right;}
.left {float:left;}
.clear {clear:both;}
.delete {background:url(../files/images/delete-icon.png) no-repeat;}
.edit {background:url(../files/images/edit-icon.png) no-repeat;}
.botton {padding:5px 10px;border:1px solid #ccc;margin:5px;background-color:#ddd;color:#333;text-decoration:none;display: block;}
.botton:hover {text-decoration:underline;background-color:#87AE53;color:#fff;}
.logout {position: absolute;top: 30px;right: 50px;}
.list {
      display: block;
      padding: 5px 10px;
      background-color: #DDD;
      margin: 5px;
      color: #87AE53;
}
.list:hover {background-color: #87AE53;color:#fff;}
.delete, 
.edit {
      display:block;
      height:32px;width:32px;
      text-indent:-9999px;
}
#header {
      padding:5px;
      background-color:#eee;
}
#menu ul {
      width: auto;
      background-color: #DDD;
      padding: 10px;
}
#menu ul ul {
      position:absolute;
      width:20%;
      display:none;
}
#menu ul li {
      float:left;
      margin:0 5px;
}
#menu ul li:hover ul {
      display:block;
}
#menu ul ul li {
      float:none;
}
#menu ul li a {
      padding: 5px 10px;
      background-color: #CCC;
      box-shadow: 1px 1px 4px #666;
      display: block;
      color: #666;
      font: bold 13px arial;
      text-transform: uppercase;
      
      -webkit-transition: all 0.5s ease; 
      -moz-transition: all 0.5s ease;  
      -o-transition: all 0.5s ease;  
      transition: all 0.5s ease;
}
#menu ul li a:hover {
      background-color:#87AE53;
      text-decoration:none;
      color:#fff;
      
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); 
      
      -webkit-transition: all 0.5s ease; 
      -moz-transition: all 0.5s ease;  
      -o-transition: all 0.5s ease;  
      transition: all 0.5s ease; 
}
table {
	border-collapse:collapse;
	width: 100%;
}
td {
      padding:5px;
}
 
table,tr,td {
	border:2px solid #ccc;
}

table thead {
	background-color:#ddd;
}

#button {  
      text-align:center;  
      margin:100px;  
}  
#col1 form input {
	margin-bottom: 15px;
}
.left1 {
	float: left ;
	  margin-right: 10px;
}
.left2 {
	float: left ;
	margin-top: 36px;
}
.left1  label{

	  margin-bottom: 13px;
}

#wrapper-print #result tbody tr td {
	font-size: 22px;
	font-weight: normal ;
}

#result tbody tr td {
	font-size: 12px;
	font-weight: normal ;
}

#result thead  tr{
	font-size: 12px;
    font-weight: bold;
}
.traitement form span {
	font-weight: bold ;
	color: red ;
} 
form label {
	font-size: 12px ;
	font-weight: bold ;
}
.radio {
	font-weight: bold ;
	font-size: 12px ;
}
#ref_client {
	margin-bottom: 15px !important ;
} 
#ref_reference {
	margin-bottom: 15px !important ;
} 
#ref_produit {
	margin-bottom: 15px !important ;
}
.traitement tbody  tr{
	border-bottom: 1px dashed #BBBBBB !important ;
} 
.Cloturer {
	color: green ;
}

