body {
	background: white;
	font-size: 18pt;
}
table {
	border-collapse: collapse;
	width:100%;
}
td {
	padding:7px;
	text-align:center;
}
table thead {
	background-color: #DDD;
}
.botton,
thead,
.observation {
	display:none;
}
#header {display:none;}
#wrapper-print  table,
#wrapper-print  tr,
#wrapper-print  td {border:none!important;}
#wrapper-print  {
	margin:50px 0 0;
	position:relative;
	left:-50px;
}
#wrapper-print  .id {
	position:absolute;
	right: 205px;
	top: -90px;
	font-size: 32px;
}
#id2 {
	top: -120px!important;
}
#wrapper-print table.result {
	margin:175px 0 0 0;
}
.wrap-tel-ad {position:relative;top:300px;left:350px;}

.tel {margin:0 0 20px;}

.print_date {width:140px;text-align:center;}
.print_client {width:180px;}
.print_qt_produit {width:200px;text-align:center;}
.print_qt_liv {width:190px;text-align:center;}
.print_vehicule {width:70px;text-align:right;}
.print_time_depart {width:120px;}
.print_qt_reste {width:120px;text-align:right;}

.ref_reference {text-indent:35px;}

.prix_uni, .montant {display:none;}
.page {
	position:relative;
}
.page2 {
	margin:580px 0 0;
}