/* CODING BY Younes MISSIRIA (ELITE WEB INGENIERIE) */

#wrapper {width: 602px;padding:0;}
header:before {content: "Vous ete sur la version smartphone !";}
#menu {width: 485px;}
#menu ul li {margin:5px;}
#menu ul li a {padding:5px 10px;font-size:20px;}
#menu ul ul {width: 25%;}
#copyright,#col2, #col1 {text-align:center;}
form {margin: 10px;}
#col1 {width: 250px;margin: 0 auto 0 30%;}
#col2 {width:100%;}
input,select {padding:10px;font-size:18px;}
strong, label {font-size:20px;}
label {margin:15px 0 0;display: block;}
h1,h2,h3 {padding:0 0 0 15px;}
